<p>factory works!</p>

<div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas" width=960 height=600></canvas>
    <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
        </div>
    </div>
    <div id="unity-warning"> </div>
    <div id="unity-footer">
        <div id="unity-fullscreen-button"></div>

    </div>
</div>





<div style="position: absolute;top: 25%;;right: 5%;width: 30%;">


    <h1>LayoutFactory</h1>
    Create and design your factory just by drag and drop, send us the result and get the code html/css/js you need to
    integrate it in your application
    <hr class="solid">
    <form>
        <label for="Company">Company :</label>
        <input type="text" id="Company" name="Company">
        <label for="email">email :</label>
        <input type="text" id="email" name="email">
        <label for="description">description :</label>
        <input type="text" id="description" name="description">
    <button>Send</button>
    </form>
</div>