hr.solid {
    border-top: 3px solid rgb(0, 0, 0);
    width: 25%;
}

input[type=text] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(15, 14, 14);
}

h1 {
    color: orange;
    text-align: center;
}

button {
    display: block;
    margin: 6px auto;
    background-color: orange;
}